{% extends "archive/doc-base.html" %}
{% load static %}
{% block content %}
    <main>
<section id="collaborate">
  <div class="img-grid">
    <div class="img-grid_item">
      <img src="{% static "assets/images/hamburger/collaboration1.jpg" %}" alt="">
    </div>
    <div class="img-grid_item">
      <img src="{% static "assets/images/hamburger/collaboration2.jpg" %}" alt="">
    </div>
    <div class="img-grid_item">
      <img src="{% static "assets/images/hamburger/collaboration3.jpg" %}" alt="">
    </div>
  </div>
    <h1> Collaborations</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Sapien eget mi proin sed libero enim sed. Aliquam eleifend mi in nulla posuere sollicitudin. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu.
       Elit eget gravida cum sociis natoque penatibus et magnis. Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Lacinia quis vel eros donec ac. </p>
  <h2>Photomontages & Gifs</h2>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/photomontage1.jpg" %}" alt="Decapitated man has head replaced with basketball">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/photomontage2.jpg" %}" alt="Collage of photos with key object highlighted pink">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/photomontage3.jpg" %}" alt="Little boy with space helmet on launchpad">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/gif1.gif" %}" alt="Dapper group of men with flowers in front of a wildflower field">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/photomontage5.jpg" %}" alt="Newlyweds walking on a sketch of flowers">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/photomontage6.jpg" %}" alt="Elderly man with selectivly colored clothing">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/gif1.gif" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/gif5.gif" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/gif3.gif" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/gif4.gif" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/gif2.gif" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/gif6.gif" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <h1></h1>
  <h2>Wheat paste installation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.
  <h3>Cedar Falls, IA</h3>
  <h1></h1>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/cf_01.jpg" %}" alt="Large image of girl on wall with older version imitating pose below">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/cf_02.jpg" %}" alt="People gathered at a table">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur </p>
    </div>
  </div>
  <div class="img-grid">
    <!-- <div> Selection is not sitting properly within the grid
      <img src="{% static "assets/images/hamburger/cf_03.jpg" %}" alt="Distanced shot of large image of group in a canoe">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div> -->
    <div>
      <img src="{% static "assets/images/hamburger/cf_04.jpg" %}" alt="Trio of fun loving people pasted to the side of a building">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/cf_05.jpg" %}" alt="Group of young people pasted to the side of Second State">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/cf_06.jpg" %}" alt="Large display of wheat paste with description on old Scratch Cupcakery">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/cf_07.jpg" %}" alt="Group of people at a bar pasted to the side of the Octopus">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/cf_08.jpg" %}" alt="Kids on a playground pasted to the side of a building">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/cf_09.jpg" %}" alt="Human pyramid pasted below apartment complex">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/cf_10.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/cf_11.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <h3>Webster City, IA</h3>
  <h1></h1>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/wc_01.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/wc_02.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <h3>Anaomosa, IA</h3>
  <h1></h1>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/a_01.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/a_02.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/a_03.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/a_04.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <h3>Ottumwa, IA</h3>
  <h1></h1>
  <div class="img-grid">
    <div>
      <img src="{% static "assets/images/hamburger/o_01.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
    <div>
      <img src="{% static "assets/images/hamburger/o_02.jpg" %}" alt="">
      <p style="font-size: 10px; margin: 2px;"> Lorem ipsum dolor sit amet, consectetur adipiscing </p>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


  </p>
  <p style="font-size: 10px; margin-top: 40px;">FI0001710, 1970, Cedar Rapids, IA, donated by Mike Karns; FI0002551, 1869, Mona, IA, donated by Susan Horgen; FI0004791, 1928, donated by Claudia Robinson. All images licensed CC-BY-SA 4.0.</p>
</section>
<h6>
  This document was created by Bettina Fabos and is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</h6>
    </main>
{% endblock %}
