{% extends "archive/doc-base.html" %}
{% load static %}
{% block content %}
<!-- No edits made, awaiting content (9/20/21) -->
<main>


  <section id="give">
    <div class="img-grid">
      <div class="img-grid_item">
        <img src="{% static "assets/images/hamburger/volunteer1.jpg" %}" alt="">
      </div>
      <div class="img-grid_item">
        <img src="{% static "assets/images/hamburger/volunteer2.jpg" %}" alt="">
      </div>
      <div class="img-grid_item">
        <img src="{% static "assets/images/hamburger/volunteer3.jpg" %}" alt="">
      </div>
    </div>
    <h1>Give</h1>
    <p>
      We could use any kind of financial support. We need funds for scanners,  server space, even little white archivist gloves and sticky notes!
      Please click on the link below if you have any desire to support our preservation and community outreach efforts!
    </P>
    <p>
      Contact <a href="mailto:fortepaniowa@uni.edu">fortepaniowa@uni.edu</a>.
    </p>
    <h4>
      Donate to the Fortepan Iowa Project <a href="https://www.adv.uni.edu/foundation/adminunit.aspx?collegeid=chfa&deptid=232&projectid=223870">Here</a>
      </h4>
    <p style="font-size: 10px; margin-top: 40px;">FI0002553,  1869, Mona, IA, donated by Susan Horgen; FI0000887, 1920, Iowa, donated by Bettina Fabos; FI0002055, 1980, Iowa, donated by John Hill. All images licensed CC-BY-SA 4.0.</p>
  </section>
    <h6>
    This document was created by Bettina Fabos and is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </h6>
</main>
{% endblock %}
