{% load static %}
{% load embeddable %}
{% for p in prev_page.object_list %}
      <li><img src="{{ p.thumbnail.url }}" width="{{ p.thumbnail.width }}" height="{{ p.thumbnail.height }}"/></li>
{% endfor %}
{% for p in page.object_list %}
          <li {{p.active | yesno:"data-active,"}}><a href="{% embeddable_url embedded p constraint_expr %}"><img src="{{ p.thumbnail.url }}" data-json-href="{% embeddable_json_url embedded p constraint_expr %}" /></a></li>
{% endfor %}
{% for p in next_page.object_list %}
      <li><img src="{{ p.thumbnail.url }}" /></li>
{% endfor %}
